*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
app/build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.keystore
app/release/
app/debug/
app/.cxx/
app/.externalNativeBuild/
app/src/androidTest/
app/src/test/
app/src/debug/
app/src/release/
app/generated/
app/intermediates/
app/tmp/
app/outputs/
app/generatedSrc/
app/.gradle/
app/gradle/
*.log
*.hprof
.gradle/6.*/
app/.DS_Store
app/src/main/jniLibs/
app/src/main/assets/
app/src/main/res/raw/
app/.navigation/
app/.transforms/
app/.kotlin/
app/.javac/
app/.lint/
app/.idea/
app/*.apk
app/*.aab
gradle/wrapper/gradle-wrapper.jar
android-sdk/
